.btn {
  transition: none;
}

.ubermenu-responsive-toggle.ubermenu-responsive-toggle-main,
.ubermenu-main .ubermenu-item-level-0 > .ubermenu-target {
  fill: #fff;
  color: #fff !important;
}

